@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

Body{
  background-color: #0e131c;
}

.clockContainer{
  color: white;
}

.timeDisplay{
  font-size: 56px;
  font-family: 'Maven Pro';
}

.dateDisplay{
  font-size: 36px;
  font-family: 'Maven Pro';
}
